[id^=id_]{
    display: inline-block;
    width: 300px;
}
p > label {
    text-align: left;
    width: 150px;
    height: 25px;
    margin: 3px;
}
p > input{
    width: 300px;
    height: 25px;
}

button {
    width: 150px;
    height: 30px;
    text-align: center;
    margin-left: 210px;
}
.form-control{
    height: auto;
    width: 400px;
}
textarea{
    width: 300px;
}
