.tab_task{
    width: auto;
}

.editform{
    color: #fff;
    margin-top: 50px;
    border-radius: 10px;
}
.t_edit1{
    color: #fff;
}
.t_edit2{
    color: #000;
    width: 400px;
}

.t_edit22{
    color: #000;
    width: 400px;
    height: 100px;
    resize: none;
}
.t_edit222{
    color: #000;
    width: 400px;
    height: 75px;
    resize: none;
}

.p_title{
    width: 200px;
    height: 45px;
}

.but1{
    color: #000;
    width: 198px;
    height: 35px;
}
.but2{
    color: #000;
    width: 198px;
    height: 35px;
}