{% extends 'firstApp/base.html' %}

{% block Content %}
        <title>Подробнее</title>

        <table class="table tab_detail">
        <tr class="detail_tr">
            <td>Название задачи:</td>
            <td>{{ task.title }}</td>
        </tr>
         <tr class="detail_tr">
            <td>Описание задачи:</td>
            <td>{{ task.text }}</td>
        </tr>
         <tr class="detail_tr">
            <td>Дата создания задачи:</td>
            <td>{{ task.date.date }}</td>
        </tr>
         <tr class="detail_tr">
            <td>Текущий статус:</td>
            <td>{{ task.status }}</td>
        </tr>
         <tr class="detail_tr">
            <td>Исполнители:</td>
            <td>
                {% for user in users_task %}
                    <p><a href = "{% url 'firstApp:details_about_the_user' user.user_id %}"><b></b></a>{{ user.first_name }} {{ user.last_name }}</p>
                {% endfor %}
            </td>
        </tr>
        </table>

{% endblock %}