<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Подробнее</title>
    </head>
    <body>
        <div>
            <p>ID: {{ task.id }}</p>
            <p>Название задачи: {{ task.title }}</p>
            <p>Описание задачи: {{ task.text }}</p>
            <p>Дата создания задачи: {{ task.date.date }}</p>
            <p>Текущий статус: {{ task.status }}</p>
            <p>Исполнители: </p>
        </div>
        <a href = "{% url 'firstApp:index' %}"><input type = "button" value = "Вернуться на главную страницу"></a>
        <a href = "{% url 'firstApp:tasks' %}"><input type = "button" value = "Вернуться к списку задач"></a>
    </body>
</html>