<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Подробнее</title>
    </head>
    <body>
        <div>
            <p><i>Название задачи:</i> <b>{{ task.title }}</b></p>
            <p><i>Описание задачи:</i> <b>{{ task.text }}</b></p>
            <p><i>Дата создания задачи:</i> <b>{{ task.date.date }}</b></p>
            <p><i>Текущий статус:</i> <b>{{ task.status }}</b></p>
            <p><i>Исполнители:</i><br>
                {% for user in users_task %}
                <p><a href = "{% url 'firstApp:details_about_the_user' user.id %}"><b>{{ user.first_name }} {{ user.last_name }}</b></a></p>
                {% endfor %}
            </p>
        </div>
        <a href = "{% url 'firstApp:index' %}"><input type = "button" value = "Вернуться на главную страницу"></a>
        <a href = "{% url 'firstApp:tasks' %}"><input type = "button" value = "Вернуться к списку задач"></a>
    </body>
</html>