<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Подробнее</title>
    </head>
    <body>
        <div>
            <p><i>ID:</i> <b>{{ user.id }}</b></p>
            <p><i>Имя:</i> <b>{{ user.first_name }}</b></p>
            <p><i>Фамилия:</i> <b>{{ user.last_name }}</b></p>
            <p><i>Email:</i> <b>{{ user.email }}</b></p>
            <p><i>VK:</i> <b>{{ user.vk }}</b></p>
            <p><i>Логин:</i> <b>{{ user.login }}</b></p>
            <p><i>Пароль:</i> <b>{{ user.password }}</b></p>
        </div>
        <a href = "{% url 'firstApp:index' %}"><input type = "button" value = "Вернуться на главную страницу"></a>
        <a href = "{% url 'firstApp:users' %}"><input type = "button" value = "Вернуться к списку пользователей"></a>
    </body>
</html>