{% extends "firstApp/base.html" %}
{% load static %}

 {% block title %}. Meeting_info {% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'firstApp/css/table.css' %} ">
{% endblock %}

{% block Content %}

{{meeting.title}}

    <table class="table table_h">
       <tr>
            <td class="t_title">Задачи:</td>
       </tr>
    </table>
    {% for q in quest %}
        <table class="table ttable">
            <tr>
                <td class="t_title">{{q.title}}</td>
            </tr>
        </table>
        {% endfor %}

    <table class="table table_h">
       <tr>
            <td class="t_first_name">Имя</td>
            <td class="t_last_name">Фамилия</td>
       </tr>
    </table>
    {% for p in person %}
        <table class="table persontable">
            <tr>
                <td class="t_first_name">{{p.first_name}}</td>
                <td class="t_last_name">{{p.last_name}}</td>
            </tr>
        </table>
        {% endfor %}


<table>
    <tr>
        <form action="/firstApp/meeting_edit/{{meeting.id}}/">
            <button type="submit">Редактировать</button>
        </form>
    </tr>
    <tr>
        <form action="/firstApp/meeting_delete/{{meeting.id}}/">
            <button type="submit">Удалить</button>
        </form>
    </tr>
</table>

{% endblock %}