{% extends 'firstApp/base.html' %}

{% block Content %}
    <table class="table tasktable_h">
       <tr>
            <td class="t_id">ID</td>
            <td class="t_title">Задача</td>
            <td class="t_date">Дата</td>
            <td class="t_status">Статус</td>
       </tr>
    </table>
    {% for current_task in task_list %}
        <table class="table tasktable">
            <tr>
                <td class="t_id">{{ current_task.id }}</td>
                <td class="t_title">
                    <div class="d_title"><a class="a_title" href = "{% url 'firstApp:details_about_the_task' current_task.id %}">{{ current_task.title }}</a>
                        <div class="d_title_drop">
                            <div class="taskbutton"><a href = "{% url 'firstApp:upload_task' current_task.id %}">Редактировать</a></div>
                            <div class="taskbutton"><a href = "{% url 'firstApp:delete_the_task' current_task.id %}">Удалить</a></div>
                        </div>
                    </div>
                </td>
                <td class="t_date">{{ current_task.date.date }}</td>
                <td class="t_status">{{ current_task.status }}</td>
            </tr>
        </table>
        {% endfor %}
{% endblock %}