<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Редактирование задачи</title>
    </head>
    <body>
        <div>
            <div>
                <form method = "POST" action = "{% url 'firstApp:edit_task_id' task.id %}" name = "">
                    {% csrf_token %}
                    <p><i>ID:</i> <input type = "text" name = "id" value = "{{ task.id }}"></p>
                    <p><i>Название задачи:</i> <input type = "text" name = "title" value = "{{ task.title }}"></p>
                    <p><i>Описание задачи:</i> <input type = "text" name = "text" value = "{{ task.text }}"></p>
                    <p><i>Дата создания задачи:</i> <input type = "text" name = "status" value = "{{ task.date }}"></p>
                    <p><i>Текущий статус:</i> <input type = "text" name = "persons" value = "{{ task.id }}"></p>
                    <p><i>Исполнители:</i> <input type = "text" name = "persons" value = "{{ task.id }}"></p>
                    <input type = "reset" name = "clear" value = "Очистить">
                    <input type = "submit" name = "edit" value = "Сохранить изменения">
                </form>
            </div>
            <div><br>
                <a href = "{% url 'firstApp:index' %}"><input type = "button" value = "Вернуться на главную страницу"></a>
                <a href = "{% url 'firstApp:tasks' %}"><input type = "button" value = "Вернуться к списку задач"></a>
            </div>
        </div>
    </body>
</html>